<h1>Procure por nome de filmes</h1>

<form action="/results" method="GET">
    <label for="busca">Busca por Nome:</label>
    <input type="text" name="busca">
    <input type="submit" value="Buscar">
    
</form>